body {}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

.nav-item {
  padding: 0 18px;
}

/* Download Buttons */
.btn {
  margin-bottom: 50px;
}

/* Image Title */
.image-title {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */
#features {
  padding: 7% 1%;
}

.features-img {
  font-size: 70px;
  color: #ef8172;
  padding-bottom: 15px;
}

.features-img:hover {
  color: #ff4c68;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: normal;
}

p {
  font-size: 1.1rem;
  color: #8f8f8f;
}

.feature-box {
  text-align: center;
  padding: 4%;
}

/* Testimonials Section */
#testimonials {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 6% 15%;
}

/* Press Section */
#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-img {
  width: 20%;
  margin: 0 20px 50px;
}

/* Pricing Section */
#pricing {
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}
